@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,400&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

body {
  min-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

nav {
  padding: 0 2rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: right 250ms ease-in-out;
  transition: right 250ms ease-in-out;
  width: 25rem;
  height: 100vh;
  background: #25252599;
  color: #83fff9;
}

nav.closed {
  right: -30rem;
}

nav header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #00000050;
  margin: 0 -2rem;
  padding: 0 2rem;
}

nav #items {
  max-height: 35vh;
  list-style: none;
  margin-top: 0;
  padding-left: 1rem;
}

nav #items li {
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav footer span {
  font-weight: bolder;
  color: #83b5ff;
}

nav footer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav footer div label {
  width: 8rem;
}

nav footer div :not(label) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav #creator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #creator select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav #creator button {
  margin-left: 0.5rem;
}

.button {
  position: absolute;
  top: 1rem;
  right: 30rem;
  -webkit-transition: right 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: right 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: right 250ms ease-in-out, transform 250ms ease-in-out;
  transition: right 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.button.closed {
  right: 0.75rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */